@media screen and (max-width: 770px) {
  #menu-icon {
    display: none;
  }

  #custom-text {
    padding: 12px;
  }
}

.mm_menu_content_title {
  column-gap: 5px;
}

.product-cover-modal,
.product-cover img {
  object-fit: contain;
}

.map-link {
  margin-left: 15px;
  font-weight: 700;
  color: #e14d0b;
  border-bottom: 1px dashed #e14d0b;
  cursor: pointer;
}

.map-popup-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.map-popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: auto;
  left: 5vw;
  top: 2vh;
  background-color: white;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.486);
}

.ya-content {
  position: relative;
  width: 100%;
  height: 100%;
  left: 4vw;
}

.five-post-content {
  width: 100%;
}

#five-post-map {
  width: 100%;
  height: 500px;
}

.map-popup-close {
  cursor: pointer;
  display: block;
  background-color: #24b9d7;
  height: 45px;
  width: 100%;
  border: none;
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  text-align: center;
  transition: background-color 2s;
}

#ecom-widget {
  height: 75vh;
  width: 100%;
}

#dpdchooser {
  position: relative;
  display: inline-block;
  overflow-y: scroll !important;
  width: 90vw;
  max-height: 75vh;
}

@media screen and (min-width: 900px) {
  #dpdchooser {
    width: 800px;
  }
}

#delivery-widget {
  width: 90%;
}

.popup-bg-green {
  background-color: rgb(44, 139, 44);
}

.freeze-body {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.js-discount.promo-discounts {
  border: 5px dotted #b03172;
  border-radius: 12px;
}
